{% extends "base.html" %}
{% block body %}
<form action="{{url_for('new_image')}}" method="post" enctype="multipart/form-data">
  <fieldset>
    <div>
      <label for="file">Choose DICOM Image</label>
      <input type="file" name="file" accept="application/dicom" required />
    </div>
    <input class="button-primary" type="submit" value="Upload" />
  </fieldset>
</form>

<div class="container">
  {% for image in images %}
  {% if loop.index % 5 == 1 %}
  <div class="row">
  {% endif -%}
    <div class="column column-20">
      <div class="image-frame">
        <a href="{{url_for('image_detail', image_id=image.id)}}">
          <img src="{{url_for('static', filename='uploads/thumbnails/{}'.format(image.filename))}}" />
          <div class="image-label" title="{{ image.filename }}">{{ image.filename }}</div>
        </a>
      </div>
    </div>
  {% if loop.index % 5 == 0 %}
  </div>
  {% endif -%}
  {% endfor %}
</div>
{% endblock %}
